<footer id="footer" class="dark">

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">

          <div class="container clearfix">

            <div class="col_half">
              Copyrights &copy; 2016 All Rights Reserved by Smooz.io<br>
              <div class="copyright-links"><a href="/privacy">Privacy Policy</a></div>
            </div>


            <div class="col_half col_last tright">

              <div class="clear"></div>

              <i class="icon-envelope2"></i> matthieu@smooz.io
            </div>

          </div>

        </div><!-- #copyrights end -->

        <!-- Footer Scripts
        ============================================= -->

      </footer><!-- #footer end -->

<!-- google analytics -->

