<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- meta -->
        <meta property="og:title" content="BePolite | Send opt-in intros from Slack"/>
        <meta property="og:description" content="Intro people from Slack. Send proper intros, with opt-in confirmation."/>
        <meta name="keywords" content="Slack,intro,app,social,network,polite"/>

        <meta property="og:image" content=""/>
        <link rel="image_src" href="" />

        <link rel="target_url" href="http://www.smooz.io/bepolite" />
        <meta property="og:url" content="http://www.smooz.io/bepolite" />

  <!-- External JavaScripts
  ============================================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Document Title
  ============================================= -->
  <title>BePolite | Send opt-in intros from Slack</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/bepolite_favicon.png">
</head>
