<!DOCTYPE html>
<html dir="ltr" lang="en-US">

    <body class="stretched no-transition">

        <!-- Content
        ============================================= -->
        <section id="content">

          <div class="content-wrap">

            <section id="section-about" class="page-section">

              <div class="container clearfix">

                <div class="col_full nobottommargin">
                    <div class="heading-block center">
                        <h2>BePolite</h2>
                        <h2>The proper way to do intros</h2>
                    </div>
                    <div class="spacer3"></div>

                        <h4>Do intros from Slack</h4>
                        <h4>Opt-in intros: ask permission to intro, don't be a jerk</h4>

                    <div class="spacer3"></div>

                </div>

                <center>
                    <a href='https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= redirect_uri %>&scope=commands'><img alt="Add to Slack" height="40" width="139" src="/images/add_to_slack.png"></a>
                </center>

                <div class="spacer3"></div>

                <center>
                    <a href=''>The Story of this app</a>
                </center>

              </div>



            </section>


          </div>

        </section><!-- #content end -->

        <!-- Footer
        ============================================= -->

      </div><!-- #wrapper end -->


    </body>
</html>








