<!DOCTYPE html>
<html dir="ltr" lang="en-US">

  <!-- HEAD, META
  ============================================= -->
  <% include ./partials/head %>

  <body class="stretched no-transition">

    <!-- Header
    ============================================= -->
    <% include ./partials/header %>


    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">

        <section id="section-about" class="page-section">

          <div class="container clearfix">

            <div class="col_full nobottommargin">
                <div class="heading-block center">
                    <h2>PleaseMeet</h2>
                    <h2>Send opt-in intros directly from Slack</h2>
                </div>
                <div class="spacer3"></div>

                    <h4>Opt-in is the right way to intro. Ask permission, don't impose yourself</h4>
                    <h4>It's really simple. Intro person A to person B, for a certain reason, with command:</h4>
                    <h4 class="codeblock">/intro email_A email_B Reason </h4>
                    <ul>
                      <li>Each person will receive an email, asking her permission to get intro'ed</li>
                      <li>If both accept, another email will be put them in touch </li>
                    </ul>

                <div class="spacer3"></div>

            </div>

            <center>
                <a href='https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= process.env.SLACK_REDIRECT + "new" %>&scope=commands'><img alt="Add to Slack" height="40" width="139" src="/images/add_to_slack.png"></a>
            </center>

            <div class="spacer3"></div>

            <center>
                <a href=''>The story of PleaseMeet on Medium</a>
            </center>

          </div>



        </section>


        </div>

      </section><!-- #content end -->

      <!-- Footer
      ============================================= -->
      <% include ./partials/footer %>

    </div><!-- #wrapper end -->


  </body>
</html>








